# Ignore dependency directories
node_modules/
npm-debug.log
yarn-error.log

# Ignore environment-specific configuration files
.env
*.env

# Ignore specific version control files and directories
.git/
.gitignore

# Ignore IDE-specific directories
.vscode/
.idea/

# Ignore build files or logs
dist/
build/
logs/
tmp/

# Ignore cache files
.cache/

# Other files you don't want to include in the image
Dockerfile*
docker-compose.yml
results/